/*Host contiene todo el contenido del componente*/
:host{
    max-width: 325px;
    display: block;
}

p.description{
    min-height: 60px;
}

img.specie{
    height: 200px;
    border-radius: 1.5rem;
    border: 1px solid rgb(red, green, blue)
}